Q1.Create a Dictionary of list store the information of shipments given in the table

In [2]:
ship={101:[1,3,'14-03-2020','25-03-2020','Area1','Area6','Delivered',198],
     102:[4,1,'18-06-2020','09-07-2020','Area2','Area4','Delivered',275],
     103:[2,3,'1-12-2020','Null','Area5','Area1','In-Transit',200],
     104:[1,5,'23-06-2020','25-06-2020','Area1','Area4','Delivered',314],
     105:[3,4,'29-08-2020','10-09-2020','Area5','Area3','Delivered',275],
     106:[5,2,'28-06-2020','Null','Area3','Area1','In-Transit',270]}

Q2.Create a Dictionary to store the information of clients given in the table

In [4]:
client_dict={1:'Philip',2:'Omega 111',
             3:'Ramya',4:'Romesh',5:'John'}

Q3.Write a code to replace clients 'IDs with the irrespective names in the shipment dictionary using aloop and dictionary comprehension

In [5]:
for i in ship.values():
    if i[0] in client_dict:
        i[0] = client_dict.get(i[0])
        
    if i[1] in client_dict:
        i[1] = client_dict.get(i[1])
print(ship)

{101: ['Philip', 'Ramya', '14-03-2020', '25-03-2020', 'Area1', 'Area6', 'Delivered', 198], 102: ['Romesh', 'Philip', '18-06-2020', '09-07-2020', 'Area2', 'Area4', 'Delivered', 275], 103: ['Omega 111', 'Ramya', '1-12-2020', 'Null', 'Area5', 'Area1', 'In-Transit', 200], 104: ['Philip', 'John', '23-06-2020', '25-06-2020', 'Area1', 'Area4', 'Delivered', 314], 105: ['Ramya', 'Romesh', '29-08-2020', '10-09-2020', 'Area5', 'Area3', 'Delivered', 275], 106: ['John', 'Omega 111', '28-06-2020', 'Null', 'Area3', 'Area1', 'In-Transit', 270]}

Q4.Print all shipment details that are sent by Phillip

In [6]:
for i in ship.values():
    if i[0] == 'Philip':
        print(i)

['Philip', 'Ramya', '14-03-2020', '25-03-2020', 'Area1', 'Area6', 'Delivered', 198]
['Philip', 'John', '23-06-2020', '25-06-2020', 'Area1', 'Area4', 'Delivered', 314]

Q5.Print all shipment details that are received by Ramya

In [48]:
for i in ship.values():
    if i[1]=='Ramya':
        print(i)

['Philip', 'Ramya', '14-03-2020', '25-03-2020', 'Area1', 'Area6', 'Delivered', 198]
['Omega', 'Ramya', '1-12-2020', 'Null', 'Area5', 'Area1', 'In-Transit', 200]

Q6.Print all shipments which are in'In-Transit' status

In [49]:
for i in ship.values():
    if i[6]=='In-Transit':
        print(i)

['Omega', 'Ramya', '1-12-2020', 'Null', 'Area5', 'Area1', 'In-Transit', 200]
['John', 'Omega', '28-06-2020', 'Null', 'Area3', 'Area1', 'In-Transit', 270]

Q7.Print all shipments which are delivered within 7days of courier Startdate

In [15]:
import datetime
from datetime import timedelta
for i in ship:
    if(ship[i][3]!='Null'):
        start=datetime.datetime.strptime(ship[i][2],'%d-%m-%Y')
        end=datetime.datetime.strptime(ship[i][3],'%d-%m-%Y')
        if (end-start)<=datetime.timedelta(days=7):
            print(ship[i])

['Philip', 'John', '23-06-2020', '25-06-2020', 'Area1', 'Area4', 'Delivered', 314]

Q8.Print all shipments which are delivered after 15 days of courier startdate or have not yet been delivered.

In [16]:
for i in ship:
    if(ship[i][3]!='Null'):
        start=datetime.datetime.strptime(ship[i][2],'%d-%m-%Y')
        end=datetime.datetime.strptime(ship[i][3],'%d-%m-%Y')
        if (end-start)>=datetime.timedelta(days=15):
            print(ship[i])
for i in ship:
    if (ship[i][3]=='Null'):
        print(ship[i])

['Romesh', 'Philip', '18-06-2020', '09-07-2020', 'Area2', 'Area4', 'Delivered', 275]
['Omega 111', 'Ramya', '1-12-2020', 'Null', 'Area5', 'Area1', 'In-Transit', 200]
['John', 'Omega 111', '28-06-2020', 'Null', 'Area3', 'Area1', 'In-Transit', 270]

Q9. Print the shipment details whose shipment cost in the range of 200 to 300.

In [50]:
for i in ship.values():
    if ((i[7]>=200) and (i[7]<=300)):
        print(i)

['Romesh', 'Philip', '18-06-2020', '09-07-2020', 'Area2', 'Area4', 'Delivered', 275]
['Omega', 'Ramya', '1-12-2020', 'Null', 'Area5', 'Area1', 'In-Transit', 200]
['Ramya', 'Romesh', '29-08-2020', '10-09-2020', 'Area5', 'Area3', 'Delivered', 275]
['John', 'Omega', '28-06-2020', 'Null', 'Area3', 'Area1', 'In-Transit', 270]

Q10. Print the name of all senders whose delivery status is ‘in-transit’

In [55]:
for i in ship.values():
    if i[6]=='In-Transit':
        print(i[0])

Omega 111
John

Q11. Print the shipment ID that has the highest shipment cost.

In [31]:
for i in ship:
    if ship[i][7]>300:
        print (ship[i])

['Philip', 'John', '23-06-2020', '25-06-2020', 'Area1', 'Area4', 'Delivered', 314]

Q12. Print all the shipment details that are delivered by ‘John’ and received by ‘Omega III’

In [58]:
for i in ship.values():
    if ((i[0]=='John')and (i[1]=='Omega 111')):
        print(i)

['John', 'Omega 111', '28-06-2020', 'Null', 'Area3', 'Area1', 'In-Transit', 270]